<div id="dux2">
  <div id="topmenu">
    <div class="username">user name in the menu</div>
  </div>

  <div id="userwidget" class="frame bubble">
    <div class="username">user name</div>
    <div class="email">usermail@somesite.com</div>
    <div class="lastlogin">Uw vorige bezoek was op 08-01-2015 om 14:11 uur</div>
    <button class="arrow">Mijn overzicht&nbsp;</button>
    <button class="white">uitloggen</button>
  </div>
  <script src="../../scripts/vendors/com/jquery-1.7.1.js"></script>
</div>