<div class="blog">

  <div id="st-container" class="wrapper ui-panel-animate">

    <div class="container">

      <section id="scroll" class="scroll st-content">
        <div class="st-content-inner">
          {{_drupal-header}}

          <!-- Blog layout -->
          <section class="content">

            <div class="row-fluid">
              <div class="span1 gutter"></div>
              <div class="span12 container_12">

                <div class="blog-page">
                  <div class="blog-heading">
                    <div class="row-fluid">
                      <div class="span6">
                       <h1 class="blog-page-title">AEGON blog</h1>
                      </div>
                      <div class="span6">
                        <div class="cat-select">
                          <select name="" id="">
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                            <option value="">Option 4</option>
                            <option value="">Option 5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row-fluid same-height blog-featured">
                    <div class="span8 nomb">
                      <div class="blog-image">
                        <a href="#"><div class="blog-category">Algemeen</div></a>
                        <img src="/images/blog-image-detail.png">
                        <h1>Op vakantie? Laat je huis veilig achter!</h1>
                      </div>
                    </div>
                    <div class="span4 nomb">
                      <a href="#">
                          <div class="blog-content">
                            <p class="date">20 augustus 2015</p>
                            <h3>Ondertitel bij deze blog</h3>
                            <h4>Voornaam, achternaam</h4>
                            <div class="text">Een aantal van  onze klanten heeft een phishing e-mail gekregen. Dit is een e-mail is. In werkelijkheid wordt deze verstuurd door een andere, nog onbekende afzender. <br/><br/>Een aantal van  onze klanten heeft een phishing e-mail gekregen. Dit is een e-mail is. In werkelijkheid wordt deze verstuurd door een andere, nog onbekende afzender. </div>
                            <h3 class="continue">&gt; Lees verder</h3>
                          </div>
                        <div class="counter">52</div>
                      </a>
                    </div>
                  </div>   

                  <div class="row-fluid same-height blog-articles">
                    <div class="span6">
                      <div class="blog-article">
                        <div class="blog-image">
                        <a href="#"><div class="blog-category">Verzekering</div></a>
                          <img src="/images/blog-image-detail.png">
                        </div>
                        <a href="#">
                          <div class="blog-content">
                            <p class="date">20 augustus 2015</p>
                            <div class="counter">2</div>
                            <h3>Op vakantie? Laat je huis veilig achter!</h3>
                            <h4>Voornaam, achternaam</h4>
                            <div class="text">Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.</div>
                            <h3 class="continue">&gt; Lees verder</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="span6">
                      <div class="blog-article">
                        <div class="blog-image">
                        <a href="#"><div class="blog-category">Pensioen</div></a>
                          <img src="/images/blog-image-detail.png">
                        </div>
                        <a href="#">
                          <div class="blog-content">
                            <p class="date">20 augustus 2015</p>
                            <div class="counter">72</div>
                            <h3>Strijken populairder dan pensioenoverzicht</h3>
                            <h4>Voornaam, achternaam</h4>
                            <div class="text">Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.</div>
                            <h3 class="continue">&gt; Lees verder</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid same-height blog-articles">
                    <div class="span6">
                      <div class="blog-article">
                        <div class="blog-image">
                        <a href="#"><div class="blog-category">Verzekering</div></a>
                            <img src="/images/blog-image-detail.png">
                        </div>
                        <a href="#">
                          <div class="blog-content">
                            <p class="date">20 augustus 2015</p>
                            <div class="counter">77</div>
                            <h3>Op vakantie? Laat je huis veilig achter!</h3>
                            <h4>Voornaam, achternaam</h4>
                            <div class="text">Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.</div>
                            <h3 class="continue">&gt; Lees verder</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="span6">
                      <div class="blog-article">
                        <div class="blog-image">
                        <a href="#"><div class="blog-category">Pensioen</div></a>
                          <img src="/images/blog-image-detail.png">
                        </div>
                        <a href="#">
                          <div class="blog-content">
                            <p class="date">20 augustus 2015</p>
                            <div class="counter">12</div>
                            <h3>Strijken populairder dan pensioenoverzicht</h3>
                            <h4>Voornaam, achternaam</h4>
                            <div class="text">Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.</div>
                            <h3 class="continue">&gt; Lees verder</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <ul class="pagination">
                    <a href="#"><li>Vorige</li></a>
                    <a href="#"><li>1</li></a>
                    <a href="#"><li class="current">2</li></a>
                    <a href="#"><li>3</li></a>
                    <a href="#"><li>4</li></a>
                    <a href="#"><li>5</li></a>
                    <a href="#"><li>Volgende</li></a>
                  </ul>

                </div>


              </div>
              <div class="span1 gutter"></div>
            </div>
          </section>
          <!-- END Blog layout -->

        </div>
        {{footer}}
      </section>
    </div>

    <!-- menu from structures-->
    {{_drupal-sidebar-aegon-menu}}

  </div>
</div>

<style type="text/css">
  /* Force to don't show style associated to body.mobile-tap */
  section.content:after {
    display: none !important;
  }
</style>
