<div id="st-container" class="wrapper ui-panel-animate">

  <div class="container">

    <section id="scroll" class="scroll st-content">
      <div class="st-content-inner">

        {{_drupal-header}}

        <!-- Content layout -->
        <section class="content">

          <div class="row-fluid">
            <div class="span1 gutter"></div>
            <div class="span12 container_12">

            <!--
            ADD BELOWtemplate YOUR ELEMENT:
            With placeholder way  {\{name of your element with underscore}}

            EXAMPLE: {\{my_documents}}

            IMPORTANT: (with no backslash).
            -->

            {{boeterente-quote}}

          </div>
          <div class="span1 gutter"></div>
        </div>
        </section>
        <!-- END Content layout -->

      </div>
    </section>

  </div>

  <!-- menu from structures-->
  {{_drupal-sidebar-aegon-menu}}

</div>

<style type="text/css">
  /* Force to don't show style associated to body.mobile-tap */
  section.content:after {
    display: none !important;
  }
</style>
