<div id="st-container" class="wrapper ui-panel-animate">

  <div class="container ui-panel-content-wrap ui-body-none ui-panel-animate cbp-spmenu-push">

    <div class="region region-navigation">
      <aside class="stickleft" style="position: absolute !important;">
        <div class="logo clearfix">
          <a href="/particulier" title="Homepage">
          </a>
        </div>
        <nav class="mainmenu">
          <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <div class="cbp-spmenu-inner">
              <ul class="first-level-item">
                <li class="clearfix close-btn">
                  <a href="javascript:void(0)" id="close" title="close"></a>
                </li>
                <li class="menu-title">Aegon Particulier</li>
                <li><a class="menu-5653" href="/particulier/">Home</a></li>
                <li><a class="menu-4532" href="/particulier/klantenservice">Service &amp; contact</a></li>
                <li><a class="menu-5074" href="/particulier/sparen">Sparen</a></li>
                <li><a class="menu-4494" href="/particulier/beleggen">Beleggen</a></li>
                <li><a class="menu-4495" href="/particulier/verzekeren">Verzekeren</a></li>
                <li><a class="menu-4496" href="/particulier/hypotheek">Hypotheek</a></li>
                <li><a class="menu-4497" href="/particulier/pensioen">Pensioen</a></li>
              </ul>
              <ul class="second-level-item">
                <li class="menu-title">Aegon Zakelijk</li>
                <li class="mob-1-item menu-home"><a href="/zakelijk">Home</a></li>
                <li class="mob-1-item menu-klantenservice"><a href="/zakelijk/klantenservice">Service &amp; contact</a></li>
              </ul>
            </div>
          </div>

          <ul class="submenu">
            <li class="home-tap"><a href="javascript:void(0)" id="showLeftPush">Menu</a></li>
          </ul>
          <ul class="stick-bottom">
            <li><a class="klantenservice" href="/particulier/klantenservice">Service &amp; contact</a></li>
          </ul>
        </nav>
        <div class="nav-backdrop"></div>
      </aside>
      <aside class="mobile mmenu ui-panel ui-panel-fixed ui-panel-animate">
        <nav class="mobile-menu homepage-menu">
          <div id="mobile-level1" class="mobile-level1 cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left mm-opened mm-subopened">
            <div class="mob-1-item search">
              <form action="/mijnaegon/overzicht" method="post" id="search-block-form" accept-charset="UTF-8">
                <div>
                  <div class="container-inline">
                    <h2 class="element-invisible">Search form</h2>
                    <div class="form-item form-type-textfield form-item-search-block-form" role="application">
                      <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                      <input title="Enter the terms you wish to search for." class="auto_submit form-text form-autocomplete" placeholder="Zoeken" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" autocomplete="OFF" aria-autocomplete="list">
                      <input type="hidden" id="edit-search-block-form--2-autocomplete" value="https://www.aegon.loc/search_api_autocomplete/search_api_views_site_search/-" disabled="disabled" class="autocomplete autocomplete-processed">
                      <span class="element-invisible" aria-live="assertive" id="edit-search-block-form--2-autocomplete-aria-live"></span></div>
                    <div class="form-actions form-wrapper" id="edit-actions">
                      <input type="submit" id="edit-submit" name="op" value="Search" class="form-submit">
                    </div>
                    <input type="hidden" name="form_build_id" value="form-ecfojun8T8BG_PbRnVQ1yorm2CINKwSwrSDtAnxnpqI">
                    <input type="hidden" name="form_id" value="search_block_form">
                  </div>
                </div>
              </form>
            </div>
            <ul class="first-level-item">
              <li class="mob-1-item"><a class="menu-5653 mm-subopened" href="/particulier/">Home</a></li>
              <li class="mob-1-item"><a class="menu-4532 mm-subopened" href="/particulier/klantenservice">Service &amp; contact</a></li>
              <li class="mob-1-item"><a class="menu-5074 mm-subopened" href="/particulier/sparen">Sparen</a></li>
              <li class="mob-1-item"><a class="menu-4494 mm-subopened" href="/particulier/beleggen">Beleggen</a></li>
              <li class="mob-1-item"><a class="menu-4495 mm-subopened" href="/particulier/verzekeren">Verzekeren</a></li>
              <li class="mob-1-item"><a class="menu-4496 mm-subopened" href="/particulier/hypotheek">Hypotheek</a></li>
              <li class="mob-1-item"><a class="menu-4497 mm-subopened" href="/particulier/pensioen">Pensioen</a></li>
            </ul>

            <ul class="second-level-item">
            </ul>
          </div>
        </nav>
      </aside>
    </div>

    <section id="scroll" class="scroll st-content">
      <div class="st-content-inner">

        <!-- Header layout -->
        <header class="header clearfix">

          <div class="left tap-menu">
            <a href="javascript:void(0)" id="openmenu" title="AEGON">AEGON menu</a>
          </div>

          <div class="middle mobile-logo">
            <a href="/particulier" title="Home" rel="home" id="logo"> 
              <img src="https://www.aegon.loc/sites/all/themes/mijnaegon_theme/logo.png" alt="Home"> 
            </a>
          </div>

          <div class="region region-header-left">
            <div class="block block-easy-breadcrumb">
              <div class="easy-breadcrumb breadcrumb">
                <ul>
                  <li class="first"><span itemprop="title"><a href="/particulier" class="easy-breadcrumb_segment easy-breadcrumb_segment-1" itemprop="url">Particulier</a></span></li>
                  <li class="segment"><span itemprop="title"><a href="/particulier/klantenservice" class="easy-breadcrumb_segment easy-breadcrumb_segment-2" itemprop="url">Service &amp; contact</a></span></li>
                  <li class="segment"><span itemprop="title" class="easy-breadcrumb_segment easy-breadcrumb_segment-title">Schade melden </span></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="right">
            <a href="https://online.aegon.nl/WSB/sso-box/wayf.html?int_source=/inloggen/" class="login-link" style="display: inline-block !important;">Log in</a>
          </div>

        </header>
        <!-- END Header layout -->

        <!-- Content layout -->
        <section class="content">
          <p style="margin-top: 1em;">Jujubes gingerbread lemon drops lollipop apple pie jelly wafer lollipop fruitcake. Halvah tootsie roll chocolate bar. Apple pie cheesecake sweet lollipop halvah. Sweet dessert gingerbread jelly beans chocolate bar powder chocolate pudding cookie.</p>
          <p>Carrot cake jelly beans biscuit marshmallow macaroon tootsie roll tart jelly-o apple pie. Danish dragée lollipop cookie muffin sweet cookie. Chocolate cookie ice cream liquorice jelly tart.</p>
          <p>Soufflé tootsie roll macaroon sesame snaps macaroon apple pie chocolate cake. Jelly-o soufflé candy canes. Powder cake cake topping biscuit brownie. Dragée wafer carrot cake jelly beans donut soufflé muffin tart.</p>
          <p>Caramels biscuit marshmallow bonbon cheesecake donut tootsie roll. Muffin topping tootsie roll fruitcake lollipop. Gingerbread marzipan toffee muffin cake soufflé jelly beans fruitcake soufflé.</p>
          <p>Jujubes gingerbread lemon drops lollipop apple pie jelly wafer lollipop fruitcake. Halvah tootsie roll chocolate bar. Apple pie cheesecake sweet lollipop halvah. Sweet dessert gingerbread jelly beans chocolate bar powder chocolate pudding cookie.</p>
          <p>Carrot cake jelly beans biscuit marshmallow macaroon tootsie roll tart jelly-o apple pie. Danish dragée lollipop cookie muffin sweet cookie. Chocolate cookie ice cream liquorice jelly tart.</p>
          <p>Soufflé tootsie roll macaroon sesame snaps macaroon apple pie chocolate cake. Jelly-o soufflé candy canes. Powder cake cake topping biscuit brownie. Dragée wafer carrot cake jelly beans donut soufflé muffin tart.</p>
        </section>
        <!-- END Content layout -->

      </div>
    </section>

  </div>

</div>
