<div id="st-container" class="wrapper ui-panel-animate">

  <div class="container">

    <section id="scroll" class="scroll st-content">
      <div class="st-content-inner">

        <!-- Header layout -->
        <header class="header clearfix">

          <div class="left tap-menu">
            <a href="javascript:void(0)" id="" title="AEGON">AEGON menu</a>
          </div>

          <div class="middle mobile-logo">
            <a href="/particulier" title="Home" rel="home">Aegon</a>
          </div>

          <div class="region region-header-left">
            <div class="block block-easy-breadcrumb">
              <div class="easy-breadcrumb breadcrumb">
                <ul>
                  <li class="first"><span itemprop="title"><a href="/particulier" class="easy-breadcrumb_segment easy-breadcrumb_segment-1" itemprop="url">Particulier</a></span></li>
                  <li class="segment"><span itemprop="title"><a href="/particulier/verzekeren" class="easy-breadcrumb_segment easy-breadcrumb_segment-2" itemprop="url">Verzekeren</a></span></li>
                  <li class="segment"><span itemprop="title" class="easy-breadcrumb_segment easy-breadcrumb_segment-title">Opstal verzekering </span></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="right">
            <a href="https://online.aegon.nl/WSB/sso-box/wayf.html?int_source=/inloggen/" class="login-link" style="display: inline-block !important;">Log in</a>
          </div>

        </header>
        <!-- END Header layout -->

        <!-- Content layout -->
        <section class="content">
          <article class="ds-1col node node--subhome view-mode-product_list_node  node--product-list-node node--subhome--product-list-node clearfix">
            <div class="content mopinion">
              <div class="node__content">
                <div class="row-fluid">
                  <div class=" span14">
                    <div class="banner">
                      <div class="field field--name-field-image-banner field--type-image field--label-hidden">
                        <div class="field-items" id="md67">
                          <div class="field-item even">
                            <picture>
                              <!--[if IE 9]><video style="display: none;"><![endif]-->
                              <source srcset="https://www.uat.aegon.nl/sites/aegonnl/public_files/styles/aegonmf-mobile-400/public/afbeeldingen/particulier/subhomes/04_particulier---Verzekeren.jpg?itok=Fvd85lLm 1x" media="(max-width: 640px)">
                              <source srcset="https://www.uat.aegon.nl/sites/aegonnl/public_files/styles/aegonmf-tablet-401-900/public/afbeeldingen/particulier/subhomes/04_particulier---Verzekeren.jpg?itok=IW16G89x 1x" media="(min-width: 641px) and (max-width: 900px)">
                              <source srcset="https://www.uat.aegon.nl/sites/aegonnl/public_files/styles/aegonmf-ipad-901-1024/public/afbeeldingen/particulier/subhomes/04_particulier---Verzekeren.jpg?itok=8rqjivTR 1x" media="(min-width: 901px) and (max-width: 1024px)">
                              <source srcset="https://www.uat.aegon.nl/sites/aegonnl/public_files/styles/aegonmf-desktop-1025/public/afbeeldingen/particulier/subhomes/04_particulier---Verzekeren.jpg?itok=BroGFK6L 1x" media="(min-width: 1025px)">
                              <!--[if IE 9]></video><![endif]-->
                              <img srcset="https://www.uat.aegon.nl/sites/aegonnl/public_files/styles/aegonmf-desktop-1025/public/afbeeldingen/particulier/subhomes/04_particulier---Verzekeren.jpg?itok=BroGFK6L 1180w" alt="verzekeren" title="">
                            </picture>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <!-- END Content layout -->
      </div>
    </section>

  </div>

  <div class="region region-navigation">
    <aside class="desktop">
      <div class="logo clearfix">
        <a href="/particulier" title="Homepage">Aegon</a>
      </div>
    </aside>
  </div>

</div>

<style type="text/css">
  /* Force to don't show style associated to body.mobile-tap */
  section.content:after {
    display: none !important;
  }
</style>
