<div id="st-container" class="">


  <div class="container">


    <section id="scroll" class="scroll st-content">
      <div class="st-content-inner">

        <!-- Header layout -->
        <header class="header clearfix">

          <div class="left tap-menu">
            <a href="javascript:void(0)" id="" title="AEGON">AEGON menu</a>
          </div>

          <div class="middle mobile-logo">
            <a href="/particulier" title="Home" rel="home">Aegon</a>
          </div>

          <div class="region region-header-left">
            <div class="block block-easy-breadcrumb">
              <div class="easy-breadcrumb breadcrumb">
                <ul>
                  <li class="first"><span itemprop="title"><a href="/particulier" class="easy-breadcrumb_segment easy-breadcrumb_segment-1" itemprop="url">Particulier</a></span></li>
                  <li class="segment"><span itemprop="title"><a href="/particulier/verzekeren" class="easy-breadcrumb_segment easy-breadcrumb_segment-2" itemprop="url">Verzekeren</a></span></li>
                  <li class="segment"><span itemprop="title" class="easy-breadcrumb_segment easy-breadcrumb_segment-title">Opstal verzekering </span></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="right">
            <a href="https://online.aegon.nl/WSB/sso-box/wayf.html?int_source=/inloggen/" class="login-link" style="display: inline-block !important;">Log in</a>
          </div>

        </header>
        <!-- END Header layout -->

        <!-- Content layout -->
        <section class="content">
          <article class="content--type-flexible">
            <div class="row-fluid divider-line">
              <div class="span14">
                <div class="image-header image-header--type-one">
                  <picture>
                    <img srcset="/images/header.jpg" alt="verzekeren" title="">
                  </picture>
                  <h1>Opstal verzekering</h1>
                </div>
                <div class="image-header image-header--type-two" style="margin-bottom: 10px">
                  <picture>
                    <img srcset="/images/header.jpg" alt="verzekeren" title="">
                  </picture>
                  <div class="quickquote">
                    <div class="placeholder">
                      <p>Quickquote</p>
                    </div>
                  </div>
                </div>
                <div class="image-header image-header--type-three">
                  <picture>
                    <img srcset="/images/header.jpg" alt="verzekeren" title="">
                  </picture>
                  <div class="content">
                    <div class="bgr-mobile"></div>
                    <h1>Opstal verzekering</h1>
                    <div class="ups">
                      <h4>Een uitgebreide verzekering, met goede service en nu dan over meerdere regels om te kijken hoe dat eruit ziet</h4>
                      <ul class="bullet check-list">
                        <li class="green-check">Het gemak van nooit onderverzekerd te zijn</li>
                        <li class="green-check">24 uur per dag hulp bij schade</li>
                        <li class="green-check">Alle gebouwen tot 30m2 meegerekend</li>
                        <li class="green-check">Klanten geven ons een 7.8</li>
                      </ul>
                      <button class="button orange arrow">Premie berekenen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>


        <!-- Content layout -->
        <section class="content container_12">
          <div class="row-fluid divider-line">
            <div class="span8">
              <h2>Opstalverzekering</h2>
              <h3>De Aegon opstalverzekering</h3>
              {{paragraph}}
            </div>
            <div class="span4">
              {{sticker-circle}}
            </div>
          </div>
          <div class="row-fluid divider-line">
            <div class="span6">
              <h2>Opstalverzekering</h2>
              <h3>De Aegon opstalverzekering</h3>
              {{paragraph}}
            </div>
            <div class="span6">
              {{sticker-circle}}
            </div>
          </div>
          <div class="row-fluid divider-line">
            <div class="span8">
              <h2>Opstalverzekering</h2>
              <h3>De Aegon opstalverzekering</h3>
              {{paragraph}}
            </div>
            <div class="span4">
              {{sticker-counter}}
            </div>
          </div>

          <div class="row-fluid divider-line col3">
            <div class="span4">
              <h3>De Aegon opstalverzekering</h3>
              {{paragraph}}
            </div>
            <div class="span4">
              <h3>De Aegon opstalverzekering</h3>
              {{paragraph}}
            </div>
            <div class="span4">
              <h3>De Aegon opstalverzekering</h3>
              {{paragraph}}
            </div>
          </div>
        </section>
        <!-- END Content layout -->

        <!-- Call/execution elements -->
        <section class="content container_12">
          <div class="row-fluid divider-line col3">
            <div class="span4">
              <div class="call-execution-block">

                <h3>Vraag een adviesgesprek bij Aegon aan</h3>
                <div class="description">
                  Wilt u persoonlijk advies over een Aegon hypotheek? Wij informeren u graag. Vul onderstaand formulier in, dan neemt een hypotheekadviseur contact met u op.
                </div>
                <button class="button icon-right icon-chat">chat button</button>
              </div>
            </div>
            <div class="span4">
              <div class="call-execution-block">

                <h3>Hulp van een onafhankelijke adviseur</h3>
                <div class="description">
                  Wilt u liever onafhankelijk advies? Uw eigen adviseur geeft u persoonlijk financieel advies. Heeft u nog geen adviseur?
                </div>
                <button class="button icon-right icon-chat">chat button</button>
              </div>
            </div>
            <div class="span4">
              <div class="call-execution-block">

                <h3>De Aegon opstalverzekering</h3>
                <div class="description">
                  Wilt u persoonlijk advies over een Aegon hypotheek? Wij informeren u graag. Vul onderstaand formulier in, dan neemt een hypotheekadviseur contact met u op.
                </div>
                <button class="button icon-right icon-chat">chat button</button>
              </div>
            </div>
          </div>

          <div class="row-fluid divider-line">
            <div class="span6">
              <div class="call-execution-block blue-background">

                <h3>De Aegon opstalverzekering</h3>
                <span class="price">€ 9,95 p/m</span>
                <div class="description">
                  Wilt u persoonlijk advies over een Aegon hypotheek? Wij informeren u graag. Vul onderstaand formulier in, dan neemt een hypotheekadviseur contact met u op.
                </div>

                <button class="button icon-right icon-chat orange">chat button</button>
              </div>
            </div>
            <div class="span6">
              <div class="call-execution-block blue-background">

                <h3>Hulp van een onafhankelijke adviseur</h3>
                <span class="price">€ 179,-</span>
                <div class="description">
                  Wilt u liever onafhankelijk advies? Uw eigen adviseur geeft u persoonlijk financieel advies. Heeft u nog geen adviseur?
                </div>

                <button class="button icon-right arrow orange">vraag een adviesgesprek aan</button>
              </div>
            </div>
          </div>

          <div class="row-fluid divider-line">
            <div class="span6">
              <div class="call-execution-block blue-background">

                <h3>De Aegon opstalverzekering</h3>
                <div class="description">
                  Wilt u persoonlijk advies over een Aegon hypotheek? Wij informeren u graag. Vul onderstaand formulier in, dan neemt een hypotheekadviseur contact met u op.
                </div>

                <button class="button icon-right icon-chat orange">chat button</button>
              </div>
            </div>
            <div class="span6">
              <div class="call-execution-block blue-background">

                <h3>Hulp van een onafhankelijke adviseur</h3>
                <div class="description">
                  Wilt u liever onafhankelijk advies? Uw eigen adviseur geeft u persoonlijk financieel advies. Heeft u nog geen adviseur?
                </div>

                <button class="button icon-right arrow orange">vraag een adviesgesprek aan</button>
              </div>
              </div>
          </div>

        </section>
        <!-- END call/execution-->
      </div>
    </section>

  </div>

  <div class="region region-navigation">
    <aside class="desktop">
      <div class="logo clearfix">
        <a href="/particulier" title="Homepage">Aegon</a>
      </div>
    </aside>
  </div>

</div>

<style type="text/css">
  /* Force to don't show style associated to body.mobile-tap */
  section.content:after {
    display: none !important;
  }
</style>
