<div id="st-container" class="wrapper ui-panel-animate">

  <div class="container">

    <section id="scroll" class="scroll st-content">
      <div class="st-content-inner">

        {{_drupal-header}}

        <!-- Content layout -->
        <section class="content">

          <div class="row-fluid">
            <div class="span1 gutter"></div>
            <div class="span12 container_12">

            <!--
            ADD BELOWtemplate YOUR ELEMENT:
            With placeholder way  {\{name of your element with underscore}}

            EXAMPLE: {\{my_documents}}

            IMPORTANT: (with no backslash).
            -->
              <!-- QuickQuote Beleggen -->
              <div class="quickquote beleggen" id="qqBeleggen" data-productcategory="beleggen" data-productname="beleggen"
                   data-interestSavings="1"
                   data-interestInvest="4">
                <div class="triangle"></div>
                <div class="calculation">
                  <h3>Sparen of beleggen: wat levert meer op?</h3>
                  <div class="one-off slider">
                    <div class="input-header">
                      <label for="one-off-input">Eerste eenmalige inleg</label>

                      <div class="input-container">
                        <input type="text" id="one-off-input">
                      </div>
                      <span class="help" title="Vul een bedrag in tussen de &euro;0,- en &euro;5000,-"></span>
                    </div>
                    <div class="slider-container">
                      <div id="one-off-slider" class="noUi-extended"></div>
                      <span id="one-off-error" class="errorMessage">Vul een bedrag in tussen de &euro;0,- en &euro;5000,-</span>
                    </div>
                  </div>
                  <div class="periodic slider">
                    <div class="input-header">
                      <label for="periodic-input">Periodieke inleg per maand</label>
                      <div class="input-container">
                        <input type="text" id="periodic-input">
                      </div>
                      <span class="help" title="Vul een bedrag in tussen de &euro;0,- en &euro;250,-"></span>
                    </div>
                    <div class="slider-container">
                      <div id="periodic-slider" class="noUi-extended"></div>
                      <span id="periodic-error" class="errorMessage">Vul een bedrag in tussen de &euro;0,- en &euro;250,-</span>
                    </div>
                  </div>

                  <div class="duration slider">
                    <div class="input-header">
                      <label for="duration-input">Toon verwacht resultaat na</label>

                      <div class="input-container">
                        <input type="text" id="duration-input">
                      </div>
                      <span class="help" title="Vul een bedrag in tussen de 5 en 30 jaar."></span>
                    </div>
                    <div class="slider-container">
                      <div id="duration-slider" class="noUi-extended"></div>
                      <span id="duration-error" class="errorMessage">Vul een bedrag in tussen de 5 en 30 jaar.</span>
                    </div>
                  </div>
                </div>
                <div class="result">
                  <div class="payment-result">
                    <div class="result3 expected-result">
                      <div class="title">Verwacht resultaat beleggen*</div>
                      <div id="investment-calculated" class="calculated"> &euro; 0</div>
                    </div>
                    <div class="result2">
                      <div class="title">Resultaat uit sparen (<span id="interestSavings">0</span>%)</div>
                      <div id="savings-calculated" class="calculated"> &euro; 0</div>
                    </div>
                    <div class="result1">
                      <div class="title">Totale inleg</div>
                      <div id="inlay-calculated" class="calculated"> &euro; 0</div>
                    </div>
                  </div>
                  <div class="footer-result">
                    <a class="conversate" href="">Gratis orientatiegesprek aanvragen</a>
                  </div>
                  <p  class="result-button">
                    <a href="#" data-stepname="completion" class="button orange-gradient icon-right arrow">Direct regelen</a>
                  </p>
                </div>
              </div>
              <div class="disclaimer">* Gebaseerd op een gemiddeld rendement van <span id="interestInvest">0</span>% per jaar </div>
              <!-- END QuickQuote Beleggen -->

            </div>
          <div class="span1 gutter"></div>
        </div>
        </section>
        <!-- END Content layout -->

      </div>
    </section>

  </div>

  <!-- menu from structures-->
  {{_drupal-sidebar-aegon-menu}}

</div>

<style type="text/css">
  /* Force to don't show style associated to body.mobile-tap */
  section.content:after {
    display: none !important;
  }
</style>
