<div id="st-container" class="wrapper ui-panel-animate">

  <div class="container">

    <section id="scroll" class="scroll st-content">
      <div class="st-content-inner">

        {{_drupal-header}}

        <!-- Content layout -->
        <section class="content">

          <div class="row-fluid">
            <div class="span1 gutter"></div>
            <div class="span12 container_12">

            <!--
            ADD BELOWtemplate YOUR ELEMENT:
            With placeholder way  {\{name of your element with underscore}}

            EXAMPLE: {\{my_documents}}

            IMPORTANT: (with no backslash).
            -->
              <!-- QuickQuote Lijfrente Sparen -->
              <div class="quickquote sparen" id="qqSparen" data-productname="sparen" data-productcategory="sparen"
                   data-interestLijfrenteSparen="1"
                   data-interestDeposito="0,1.1,1.2,1.3,1.35,1.45,1.6,1.7,1.8,1.8,1.8,1.95,1.95,1.95,1.95,1.95,2.05,2.05,2.05,2.05,2.05,2.20,2.20,2.20,2.20,2.45,2.20,2.20,2.20,2.20,2.20">
                <div class="triangle"></div>
                <div class="calculation">
                  <h3>Bereken wat uw lijfrente sparen per maand</h3>

                  <div class="one-off slider">
                    <div class="input-header">
                      <label for="one-off-input">Éenmalige inleg</label>

                      <div class="input-container">
                        <input type="text" id="one-off-input">
                      </div>
                      <span class="help" title="Dit is de help tekst voor in de tooltip"></span>
                    </div>
                    <div class="slider-container">
                      <div id="one-off-slider" class="noUi-extended"></div>
                      <span id="one-off-error" class="errorMessage">Het bedrag voor Lijfrente Uitkeren is  minimaal€ 4000,- en maximaal 1.000.000,-</span>
                    </div>
                  </div>

                  <div class="periodic slider">
                    <div class="input-header">
                      <label for="periodic-input">Periodieke inleg</label>

                      <div class="input-container">
                        <select name="" id="periodic-selector" tabindex="-1" class="blurred">
                          <option id="monthly" value="">Maand</option>
                          <option id="quarterly">Kwartaal</option>
                          <option id="halfYear">Half jaar</option>
                          <option id="yearly">Jaar</option>
                        </select>
                        <input type="text" id="periodic-input">
                      </div>
                <span class="help"
                      title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
                    </div>
                    <div class="slider-container">
                      <div id="periodic-slider" class="noUi-extended"></div>
                      <span id="periodic-error" class="errorMessage">De looptijd is minimaal 5 en maximaal 30 jaar</span>
                    </div>
                  </div>

                  <div class="duration slider">
                    <div class="input-header">
                      <label for="duration-input">Looptijd</label>

                      <div class="input-container">
                        <input type="text" id="duration-input">
                      </div>
                <span class="help"
                      title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
                    </div>
                    <div class="slider-container">
                      <div id="duration-slider" class="noUi-extended"></div>
                      <span id="duration-error" class="errorMessage">De looptijd is minimaal 5 en maximaal 30 jaar</span>
                    </div>
                  </div>
                </div>

                <div class="one-off-deposit-check calculation">
                  <div class="input-header">
                    <label class="checkbox">
                      <input type="checkbox" name="checkbox1" value="value1">
                      <span class="checkbox"></span><span>Ik wil een deel van mijn éénmalige inleg in een deposito zetten</span>
                    </label>
            <span class="help"
                  title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
                  </div>
                  <div class="one-off-deposit" id="toggle-container">
                    <div class="input-header">
                      <label for="amount-one-off-input">Inleg deposito</label>

                      <div class="input-container">
                        <input type="text" id="amount-one-off-input">
                      </div>
                      <span class="help" title="Dit is de help tekst voor in de tooltip"></span>
                    </div>

                    <div class="slider-container">
                      <div id="amount-one-off-slider" class="noUi-extended"></div>
                      <span id="amount-one-off-error" class="errorMessage">De inleg kan niet hoger zijn dan de éenmalige inleg</span>
                    </div>

                    <div class="input-header">
                      <label for="deposit-duration-input">Looptijd deposito</label>

                      <div class="input-container">
                        <input type="text" id="deposit-duration-input">
                      </div>
                <span class="help"
                      title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
                    </div>

                    <div class="slider-container">
                      <div id="deposit-duration-slider" class="noUi-extended"></div>
                      <span id="deposit-duration-error" class="errorMessage">De looptijd is minimaal 5 en maximaal 30 jaar</span>
                    </div>
                  </div>
                </div>

                <div class="result">
                  <div class="payment-result">
                    <div class="result1">
                      <div class="title">Opgebouwd pensioen*</div>
                      <div id="pension-calculated" class="calculated"> &euro; 95.500,-</div>
                    </div>
                    <div class="result2">
                      <div class="title">Opgebouwde rente*</div>
                      <div id="interest-calculated" class="calculated"> &euro; 5.850,-</div>
                    </div>
                  </div>

                  <div class="footer-result">
                    <div class="interest">Rente: <span id="interest-amount">1,2</span>%</div>
                    <div class="interest">Rente: <span id="interest-amount-deposito">1,2</span>%</div>
                  </div>

                  <p class="result-button">
                    <a class="button orange-gradient icon-right arrow" data-stepname="completion">Direct regelen</a>
                  </p>

                </div>
              </div>
              <div class="disclaimer">*Indicatie, geen exacte berekening</div>
              <!-- END QuickQuote Lijfrente Sparen -->

            </div>
          <div class="span1 gutter"></div>
        </div>
        </section>
        <!-- END Content layout -->

      </div>
    </section>

  </div>

  <!-- menu from structures-->
  {{_drupal-sidebar-aegon-menu}}

</div>

<style type="text/css">
  /* Force to don't show style associated to body.mobile-tap */
  section.content:after {
    display: none !important;
  }
</style>
