<div id="st-container" class="wrapper ui-panel-animate">

  <div class="container">

    <section id="scroll" class="scroll st-content">
      <div class="st-content-inner">

        <!-- Header layout -->
        <header class="header clearfix">

          <div class="left tap-menu">
            <a href="javascript:void(0)" id="" title="AEGON">AEGON menu</a>
          </div>

          <div class="middle mobile-logo">
            <a href="/particulier" title="Home" rel="home">Aegon</a>
          </div>

          <div class="region region-header-left">
            <div class="block block-easy-breadcrumb">
              <div class="easy-breadcrumb breadcrumb">
                <ul>
                  <li class="first"><span itemprop="title"><a href="/particulier" class="easy-breadcrumb_segment easy-breadcrumb_segment-1" itemprop="url">Particulier</a></span></li>
                  <li class="segment"><span itemprop="title"><a href="/particulier/klantenservice" class="easy-breadcrumb_segment easy-breadcrumb_segment-2" itemprop="url">Service &amp; contact</a></span></li>
                  <li class="segment"><span itemprop="title" class="easy-breadcrumb_segment easy-breadcrumb_segment-title">Schade melden </span></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="right">
            {{button-login}}
          </div>

        </header>
        <!-- END Header layout -->

        <!-- Content layout -->
        <section class="content">

          <div class="row-fluid">
            <div class="span1 gutter"></div>
            <div class="span12 container_12">

            <!--
            ADD BELOWtemplate YOUR ELEMENT:
            With placeholder way  {\{name of your element with underscore}}

            EXAMPLE: {\{my_documents}}

            IMPORTANT: (with no backslash).
            -->

            {{user_detail}}

            <script language="">
              jQuery(document).ready( function () {
                console.dir(Drupal.behaviors.userDetails);
              });
            </script>

          </div>
          <div class="span1 gutter"></div>
        </div>
        </section>
        <!-- END Content layout -->

      </div>
    </section>

  </div>

  <!-- menu from structures-->
  {{drupal-sidebar-aegon-menu}}

</div>

<style type="text/css">
  /* Force to don't show style associated to body.mobile-tap */
  section.content:after {
    display: none !important;
  }
</style>
