
//
// Responsive Grid
// --------------------------------------------------

.row-fluid {
  margin-bottom: 5px;
  &:before, &:after {
    line-height: 0;
    display: table;
    content: '';
    clear: both;
  }
  [class*='span'] {
    display: block;
    float: left;
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: border-box;
    width: 100%;
    min-height: 30px;
    margin-left: 1.7094017094017095%;
    *margin-left: 1.655982905982906%;
    &:first-child {
      margin-left: 0;
    }
  }
  .span14 {
    width: 100%;
    *width: 99.94658119658119%;
  }
  .span13 {
    width: 92.73504273504273%;
    *width: 92.68162393162392%;
  }
  .span12 {
    width: 85.47008547008546%;
    *width: 85.41666666666666%;
    .container_12 {
      width: 100%;
      *width: 99.94680851063829%;
    }
  }
  .span11 {
    width: 78.2051282051282%;
    *width: 78.1517094017094%;
  }
  .span10 {
    width: 70.94017094017094%;
    *width: 70.88675213675214%;
  }
  .span9 {
    width: 63.675213675213676%;
    *width: 63.621794871794876%;
  }
  .span8 {
    width: 56.41025641025641%;
    *width: 56.35683760683761%;
  }
  .span7 {
    width: 49.14529914529914%;
    *width: 49.09188034188034%;
  }
  .span6 {
    width: 41.880341880341874%;
    *width: 41.82692307692307%;
  }
  .span5 {
    width: 34.61538461538461%;
    *width: 34.56196581196581%;
  }
  .span4 {
    width: 27.35042735042735%;
    *width: 27.297008547008545%;
  }
  .span3 {
    width: 20.085470085470085%;
    *width: 20.03205128205128%;
  }
  .span2 {
    width: 12.820512820512821%;
    *width: 12.767094017094017%;
  }
  .span1 {
    width: 5.555555555555555%;
    *width: 5.502136752136752%;
  }
}

.container_12 .row-fluid {
  [class*='span'] {
    margin-left: 2%;
    *margin-left: 1.9375%;
  }
  .span12 {
    width: 100%;
    *width: 99.9375%;
  }
  .span11 {
    width: 91.5%;
    *width: 91.4375%;
  }
  .span10 {
    width: 83%;
    *width: 82.9375%;
  }
  .span9 {
    width: 74.5%;
    *width: 74.4375%;
  }
  .span8 {
    width: 66%;
    *width: 65.9375%;
  }
  .span7 {
    width: 57.5%;
    *width: 57.4375%;
  }
  .span6 {
    width: 49%;
    *width: 48.9375%;
  }
  .span5 {
    width: 40.5%;
    *width: 40.4375%;
  }
  .span4 {
    width: 32%;
    *width: 31.9375%;
  }
  .span3 {
    width: 23.5%;
    *width: 23.4375%;
  }
  .span2 {
    width: 15%;
    *width: 14.9375%;
  }
  .span1 {
    width: 6.5%;
    *width: 6.4375%;
  }
}

@media screen and(min-width: 641px) and(max-width: 900px) {
  .row-fluid {
    margin-bottom: 5px;
  }
  .container_12 .row-fluid.col3 .span4 {
    width: 49%;
    *width: 48.9375%;
    &:last-child {
      margin: 5px 0 0;
    }
  }
}
@media screen and(max-width: 640px) {
  .row-fluid {
    margin-bottom: 0;
    .span14 {
      margin-bottom: 5px;
    }
  }
  .container_12 .row-fluid [class*='span'] {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 0;
  }
}