<html>
  <head>
    <title>LHFS</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body id="dux2">
    <div id="lhfs" class="frame">
      <h2>Mijn betaalgegevens</h2>
      <div class="tip">
        <span class="intro">Tip:</span> This is a placeholder text for whatever a content manager chooses to put at this position and it will only be shown if there is at least one product that can be converted to digital payment. <a>And this link goes to where the user can change his payment methods</a>
      </div>
      <ul>
        <!--if iterations are taking place, iterate over the elements between this comment-->
        <li class="payment data">
          <span class="title">Product title comes here</span>&nbsp;
          <span class="police-number">police number</span><br/>
          <span class="description">This is a product description that appears instead of the actual product data. To switch it on and off, the "data" class needs to be removed or added from the li.payment element.</span>
          <ul class="type">
            <li><span class="label">Payment type label</span>:</li>
            <li><span class="value">payment type value</span></li>
          </ul>
          <ul class="interval">
            <li><span class="label">Payment interval label</span>:</li>
            <li><span class="value">payment interval value</span></li>
          </ul>
          <ul class="account">
            <li><span class="label">Account number label</span>:</li>
            <li><span class="value">account number value</span></li>
           </ul>
        </li>
        <!--end iteration comment-->
      </ul>
    </div>
    <script src="../js/com/jquery-1.9.1.js"></script>
    <script>
      $(".tip").removeClass("visible");
      $(".tip").addClass("visible");
      $("li.payment").removeClass("data");
      $("li.payment").addClass("data");
   </script>
  </body>
</html>