
//
// Core
// --------------------------------------------------

/**
 * * { Box-sizing: Border-box } FTW
 * Apply a natural box layout model to all elements, but allowing components to change
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */

*,
*:after,
*:before {
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

/* Need refactor */

body {
  background-color: $white;
  // & * {
  //   font-family: $font_light;
  //   font-size: $medium;
  //   color: $black;
  // }
}

a {
  font-family: $font_normal;
  color: $blue;
  text-decoration: none;
}