
//
// Mixins
// --------------------------------------------------

@mixin bubble($width: 10px, $border: 2px, $quadrant: 0, $top: "", $right: "", $bottom: "", $left: "", $border-color: white, $background-color: grey) { //creates a bubble nose on a frame
  //$quadrant works like the coordinates in border 0 = top, 1 = left, 2 = bottom, 3 = right
  //offset values right, left, top and bottom indicate the distance from one of the extremes
  //of the quadrant, thus
  //$quadrant: 0 and $right: 20px;
  //means that the bubble nose is on the top and 20px from the right
  //it should be self-evident that nonsensical combinations such as
  //$quadrant: 0 (top) and $bottom: 20px
  //will produce nonsensical results, so quadrant
  //0 or 2 will only work with EITHER left or right
  //and 1 or 3 with EITHER top or bottom
  //if the nose is supposed to be solid, background-color can be set to transparent

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    $pos: -2 * $width;
    @if $quadrant == 0 {
      top: $pos;
      border-color: transparent transparent $border-color transparent;
    };
    @if $quadrant == 1 {
      right: $pos;
      border-color: transparent transparent transparent $border-color;
    }
    @if $quadrant == 2 {
      bottom: $pos;
      border-color: $border-color transparent transparent transparent;
    }
    @if $quadrant == 3 {
      left: $pos;
      border-color: transparent $border-color transparent transparent;
    }
    @if $top != "" {top: $top};
    @if $right != "" {right: $right};
    @if $bottom != "" {bottom: $bottom};
    @if $left != "" {left: $left};
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $width;
    border-radius: inherit;
  }
  &:after {
    $pos: (-2 * $width) + $border;
    @if $quadrant == 0 {
      top: $pos;
      border-color: transparent transparent $background-color transparent;
    }
    @if $quadrant == 1 {
      right: $pos;
      border-color: transparent transparent transparent $background-color;
    }
    @if $quadrant == 2 {
      bottom: $pos;
      border-color: $background-color transparent transparent transparent;
    }
    @if $quadrant == 3 {
      left: $pos;
      border-color: transparent $background-color transparent transparent;
    }
  }
}