{{> intro}}

{{> menu}}

<div class="f-container">
	<div class="f-main">

		<div class="f-menu-bar">
			<div class="f-menu-toggle">
				<svg>
					<use xlink:href="#f-icon-menu" />
				</svg>
			</div>
		</div>

		<h1>Overview</h1>

		<p>The front-end toolkit is a highly-modular design system for building web pages. It contains a collection of components and structures that can be assembled into more complex page layouts.</p>

		<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

		<p>Start by adding the following files to your page:</p>

		<p>Main DUX Aegon styles/scripts libraries:</p>
		<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;http://localhost:3000/styles/aegon-library.css&quot;&gt;</code></pre>
		<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;http://localhost:3000/scripts/aegon-library.js&quot;&gt;&lt;/script&gt;</code></pre>

		<p>Widgets, tools and additional styles library:</p>
		<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;http://localhost:3000/styles/toolkit.css&quot;&gt;</code></pre>

		<p>Tools and additional scripts under ./src/asset/scripts/**:</p>
		<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;http://localhost:3000/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>

		<p>Change <code class="language-markup">http://localhost:3000</code> with your host or source host serving these files.</p>

		<hr>

		<h2>Color</h2>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$color--dark</div>
      <div class="f-color-chip__color">rgb(30,30,30)</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$color--medium</div>
      <div class="f-color-chip__color">rgb(160,160,160)</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$color--light</div>
      <div class="f-color-chip__color">rgb(242,242,242)</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$color--accent</div>
      <div class="f-color-chip__color">rgb(100,178,67)</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
			<div class="f-color-chip__name">$black</div>
			<div class="f-color-chip__color">#1d1d1b</div>
		</div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$dark_blue</div>
      <div class="f-color-chip__color">#00304C</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$white</div>
      <div class="f-color-chip__color">#ffffff</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$blue</div>
      <div class="f-color-chip__color">#3395d3</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$slightly_darker_blue</div>
      <div class="f-color-chip__color">#007bc8</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$fun_blue_approx</div>
      <div class="f-color-chip__color">#2163ae</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$blue_gray</div>
      <div class="f-color-chip__color">#335970</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$light_blue</div>
      <div class="f-color-chip__color">#66b0de</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$lighter_blue</div>
      <div class="f-color-chip__color">#85BFE5</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$slightly_lighter_blue</div>
      <div class="f-color-chip__color">#99cae9</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$pastel_light_blue</div>
      <div class="f-color-chip__color">#D9EBF7</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$lochmara_approx</div>
      <div class="f-color-chip__color">#007ac7</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$orange_highlight</div>
      <div class="f-color-chip__color">#fcbd3e</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$orange</div>
      <div class="f-color-chip__color">#f9a600</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">Orange dark</div>
      <div class="f-color-chip__color">#f39300</div>
    </div>

    <div class="f-color-chip f-color-chip--primary margin-bottom">
      <div class="f-color-chip__name">$grey</div>
      <div class="f-color-chip__color">rgb(242,242,242)</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$lighter_grey</div>
      <div class="f-color-chip__color">#EFEBE7</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$grey</div>
      <div class="f-color-chip__color">#edebe5</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$slightly_darker_grey</div>
      <div class="f-color-chip__color">#e0e0e0</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$dark_grey</div>
      <div class="f-color-chip__color">#d8d7d1</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$darker_grey</div>
      <div class="f-color-chip__color">#8E8E8C</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$light_green</div>
      <div class="f-color-chip__color">#c8e7cc</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$green</div>
      <div class="f-color-chip__color">#49af57</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$dark_green</div>
      <div class="f-color-chip__color">#7FAE3F</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$lighter_red</div>
      <div class="f-color-chip__color">#f3e7e6</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$light_red</div>
      <div class="f-color-chip__color">#eacbca</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$red</div>
      <div class="f-color-chip__color">#C50B1F</div>
    </div>

    <div class="f-color-chip f-color-chip--primary">
      <div class="f-color-chip__name">$dark_red</div>
      <div class="f-color-chip__color">#ca4642</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$light_yellow</div>
      <div class="f-color-chip__color">#fffce5</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$yellow</div>
      <div class="f-color-chip__color">#ffea53</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$dark_yellow</div>
      <div class="f-color-chip__color">#B0A126</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$dark_pink</div>
      <div class="f-color-chip__color">#C41F2C</div>
    </div>

    <div class="f-color-chip">
      <div class="f-color-chip__name">$pink</div>
      <div class="f-color-chip__color">#edd5d9</div>
    </div>

		<hr>

		<h2>Typography</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

		<h1>Heading Level 1</h1>
		<h2>Heading Level 2</h2>
		<h3>Heading Level 3</h3>
		<h4>Heading Level 4</h4>
		<h5>Heading Level 5</h5>
		<h6>Heading Level 6</h6>

	</div>
</div>

{{> outro}}
