@font-face {
  font-family: 'aegon_icons';
  src: url("../fonts/senticosansdt-regular-webfont.eot");
  src: url("../fonts/senticosansdt-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/senticosansdt-regular-webfont.woff") format("woff"), url("../fonts/senticosansdt-regular-webfont.ttf") format("truetype"), url("../fonts/senticosansdt-regular-webfont.svg#senticosansdtregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sslight';
  src: url("../fonts/senticosansdt-light-webfont.eot");
  src: url("../fonts/senticosansdt-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/senticosansdt-light-webfont.woff") format("woff"), url("../fonts/senticosansdt-light-webfont.ttf") format("truetype"), url("../fonts/senticosansdt-light-webfont.svg#senticosansdtlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ssregular';
  src: url("../fonts/senticosansdt-regular-webfont.eot");
  src: url("../fonts/senticosansdt-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/senticosansdt-regular-webfont.woff") format("woff"), url("../fonts/senticosansdt-regular-webfont.ttf") format("truetype"), url("../fonts/senticosansdt-regular-webfont.svg#senticosansdtregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ssbold';
  src: url("../fonts/senticosansdtcond-bold-webfont.eot");
  src: url("../fonts/senticosansdtcond-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/senticosansdtcond-bold-webfont.woff") format("woff"), url("../fonts/senticosansdtcond-bold-webfont.ttf") format("truetype"), url("../fonts/senticosansdtcond-bold-webfont.svg#senticosansdtcondbold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: white; }
  body * {
    font-family: "sslight", Arial, Verdana, sans-serif;
    font-size: 18px;
    color: #1d1d1b; }
  body a {
    font-family: "ssregular", Arial, Verdana, sans-serif;
    color: #3395d3;
    text-decoration: none; }

h1 {
  font-family: "sslight", Arial, Verdana, sans-serif;
  font-size: 46px;
  color: #3395d3; }

.subtext {
  font-family: "sslight", Arial, Verdana, sans-serif;
  font-size: 25px;
  color: #3395d3; }

.subheader {
  font-family: "ssregular", Arial, Verdana, sans-serif;
  font-size: 22px; }

h2 {
  font-family: "sslight", Arial, Verdana, sans-serif;
  font-size: 40px;
  color: #3395d3;
  margin: 5px 0 20px 0; }

h3 {
  font-family: "ssregular", Arial, Verdana, sans-serif;
  font-size: 22px; }

h4 {
  font-family: "ssregular", Arial, Verdana, sans-serif;
  font-size: 18px; }

ul {
  padding-left: 0px;
  padding-right: 0px; }
  ul li {
    list-style: none;
    font-family: "sslight", Arial, Verdana, sans-serif;
    font-size: 18px; }
    ul li:before {
      display: block;
      position: relative;
      max-width: 0;
      max-height: 0;
      top: -3px;
      color: #3395d3;
      font-size: 25px; }
    ul li.bullet {
      margin-left: 20px; }
      ul li.bullet:before {
        font-family: "aegon_icons", Arial, Verdana, sans-serif;
        left: -20px;
        content: '\2022'; }
    ul li.check {
      margin-left: 20px; }
      ul li.check:before {
        font-family: "aegon_icons", Arial, Verdana, sans-serif;
        left: -20px;
        content: "v"; }
    ul li.arrow {
      margin-left: 20px;
      color: #3395d3; }
      ul li.arrow:before {
        font-family: "aegon_icons", Arial, Verdana, sans-serif;
        left: -20px;
        content: ">"; }

button {
  background-color: #3395d3;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  padding: 10px;
  border: 0;
  margin: 10px 0; }
  button.arrow:after {
    padding: 11px;
    margin-right: -10px;
    font-family: "aegon_icons", Arial, Verdana, sans-serif;
    content: ">";
    background-color: #66b0de; }
  button.white {
    background-color: white;
    color: #3395d3; }
    button.white:before {
      padding: 11px;
      margin-left: -10px;
      font-family: "aegon_icons", Arial, Verdana, sans-serif;
      content: ">";
      background-color: white;
      color: #3395d3; }

.frame {
  position: relative;
  min-width: 220px;
  min-height: 100px;
  padding: 15px;
  border: 2px solid #edebe5;
  border-radius: 3px; }

.bubble:before, .bubble:after {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  border-color: transparent transparent #edebe5 transparent;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-radius: inherit; }
.bubble:after {
  top: -18px;
  border-color: transparent transparent white transparent; }

#dux1 #topmenu .username, #dux2 #topmenu .username {
  color: #49af57; }
#dux1 #userwidget, #dux2 #userwidget {
  width: 320px; }
  #dux1 #userwidget .username, #dux2 #userwidget .username {
    color: #1d1d1b;
    font-family: "ssbold", Arial, Verdana, sans-serif; }
  #dux1 #userwidget .username, #dux1 #userwidget .email, #dux1 #userwidget .lastlogin, #dux2 #userwidget .username, #dux2 #userwidget .email, #dux2 #userwidget .lastlogin {
    margin: 5px 0; }
  #dux1 #userwidget .lastlogin, #dux2 #userwidget .lastlogin {
    color: #49af57;
    font-size: 14px; }

#lhfs .tip {
  background-color: #8cd1e6;
  padding: 20px 15px;
  border-radius: inherit;
  display: none; }
  #lhfs .tip.visible {
    display: block; }
  #lhfs .tip .intro {
    color: white; }
#lhfs > ul {
  margin: 30px 0;
  width: 100%; }
  #lhfs > ul li.payment.data ul {
    display: block; }
  #lhfs > ul li.payment.data .description {
    display: none; }
  #lhfs > ul li.payment span.title, #lhfs > ul li.payment span.police-number {
    font-family: "ssbold", Arial, Verdana, sans-serif; }
  #lhfs > ul li.payment ul {
    margin: 30px 0 10px 0;
    padding: 1px 0;
    display: none;
    width: 100%; }
    #lhfs > ul li.payment ul.visible {
      display: block; }
    #lhfs > ul li.payment ul li {
      float: left;
      width: 50%; }
      #lhfs > ul li.payment ul li:last-of-type {
        display: block; }
