<aa-template>  
  <aa-data [data]="data" type="keyvalue" path="page">    
    left.title = Title left;
    left.text = Intro left; 

    right.title = Title right;
    right.text = Intro right;     

    link.text = This is a link;
    link.url = http://go.to.here;
    
    bottom.title = Offerte aanvragen;
    bottom.text = Tekst voor het aanvragen van de offerte;
  </aa-data>

  <aa-data [data]="data" type="keyvalue" path="blueBlockLeft">
    title = Left part;
  </aa-data>  

  <aa-data [data]="data" type="keyvalue" path="blueBlockRight">
    title = Right part;
  </aa-data>    

  <aa-blue-block-page [options]="data.page">    
    <div blue-block-left>
      <aa-blue-block [options]="data.blueBlockLeft"></aa-blue-block>
    </div>
    
    <div blue-block-right>
      <aa-blue-block [options]="data.blueBlockRight"></aa-blue-block>
    </div>            
  </aa-blue-block-page>
</aa-template>