<aa-template>
  <!-- <h5>AA FAQ COMPONENT - start</h5> -->
  <aa-faq title="Veelgestelde vragen autoschade" [data]="[{
    question: 'Wat is er gedekt onder de autoverzekering?',
    answer: 'Rhabarber rhabarber rhabarber answer text. Example link Rhabarber rhabarber rhabarber answer text. Rhabarber rhabarber rhabarber answer text. Rhabarber',
    feedbackTitle:'Feedback Title',
    feedbackContent:'Feedback ContentA'
  }, {
    question: 'Heeft mijn schade effect op mijn schade vrije jaren?',
    answer: 'Rhabarber rhabarber rhabarber answer text. Example link Rhabarber rhabarber rhabarber answer text. Rhabarber rhabarber rhabarber answer text. Rhabarber Rhabarber rhabarber rhabarber answer text. Example link Rhabarber rhabarber rhabarber answer text. Rhabarber rhabarber rhabarber answer text. Rhabarber',
    feedbackTitle:'Feedback Title',
    feedbackContent:'Feedback ContentB'
  },{
    question:'Hoeveel schade vrije jaren heb ik?',
    answer:'Rhabarber rhabarber rhabarber answer text. Example link Rhabarber rhabarber rhabarber answer text. Rhabarber rhabarber rhabarber answer text. Rhabarber',
    feedbackTitle:'Feedback Title',
    feedbackContent:'Feedback ContentC'
  }]"></aa-faq>
  <!-- <h5>AA FAQ COMPONENT - end</h5> -->
</aa-template>
