<aa-template>
  <aa-tabs-view>

    <aa-tabs-view-item title="Simple content" icon="hypotheek" [active]="true" description="Hypothek description">
       Just some text
    </aa-tabs-view-item>

    <aa-tabs-view-item title="QuickQuote Bellegen" icon="klantenservice" description="I am the description">
      Component is here:
      <aa-qq-boeterente></aa-qq-boeterente>
    </aa-tabs-view-item>

    <aa-tabs-view-item title="Different text" icon="sparen" description="Beware the description">
      Another text
    </aa-tabs-view-item>

  </aa-tabs-view>
</aa-template>
