<div class="smartbanner__container">
	<a href="javascript:void(0);" class="smartbanner__close">&times;</a>
		<span class="smartbanner__icon" style="background-image: url(' + o + ')"></span>
		<div class="smartbanner__info">
		<div class="smartbanner__title">' + this.options.title + "</div>
		<div>" + this.options.author + "</div>
			<span>" + q + '</span>
		</div><a href="' + p + '" class="smartbanner-button">
		<span class="smartbanner-button__text">' + this.options.button + "</span>
	</a>
</div>