<button class="button">normal</button>
<button class="button arrow">arrow</button>
<button class="button blue arrow">blue arrow</button>
<button class="button green">green</button>
<button class="button green arrow">green arrow</button>
<button class="button green icon-lock">green icon</button>
<button class="button white">white</button>
<button class="button white arrow">white arrow</button>
<button class="button transparent">transparent</button>
<button class="button transparent arrow">transparent arrow</button>
<button class="button transparent edit"></button>
<button class="button edit"></button>
<button class="button red arrow">red arrow</button>
<button class="button orange icon-right arrow">Do something</button>
<button class="button orange-gradient icon-right arrow">Do something</button>

<div class="button arrow">Example of a div with the button class applied</div>

<button class="button icon-right icon-call">call button</button>
<button class="button icon-right icon-chat">chat button</button>
<button class="button icon-right icon-search">search button</button>
<button class="button arrow pending">pending button</button>
<button class="button green icon-right icon-lock">Login button icon right</button>
