<aa-template>
  <fnol-page>

    <aa-tabs-view theme="square-blue">

          <aa-tabs-view-item id="possession" title="Inboedel" icon="desktop-phone" description="Hypothek description">
             <fnol-category id="possession"></fnol-category>
          </aa-tabs-view-item>

          <aa-tabs-view-item id="home" title="Opstal" icon="house" description="I am the description">
            <fnol-category id="home"></fnol-category>
          </aa-tabs-view-item>

          <aa-tabs-view-item id="auto" title="Auto" icon="auto" description="Beware the description">
            <fnol-category id="auto"></fnol-category>
          </aa-tabs-view-item>

          <aa-tabs-view-item id="liability" title="Aansprakelijkheid" icon="schadeverzekeringen" description="Beware the description">
            <fnol-category id="liability"></fnol-category>
          </aa-tabs-view-item>

          <aa-tabs-view-item id="travel" title="Reis" icon="suitcase" description="Beware the description">
            <fnol-category id="travel"></fnol-category>
          </aa-tabs-view-item>

    </aa-tabs-view>

  </fnol-page>
</aa-template>
