<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-arrow-right"></span></h2>
            <p><code>.icon-arrow-right</code> or <code>.icon-uniE600</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-skinnyarrow"></span></h2>
            <p><code>.icon-skinnyarrow</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-arrow-down"></span></h2>
            <p><code>.icon-arrow-down</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-envelope"></span></h2>
            <p><code>.icon-envelope</code> or <code>.icon-uniE603</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE604"></span></h2>
            <p><code>.icon-uniE604</code> or <code>.icon-6860</code> or <code>.icon-mijn-documenten</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE605"></span></h2>
            <p><code>.icon-uniE605</code> or <code>.icon-klantenservice</code> or <code>.icon-service-contact</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-person-outline"></span></h2>
            <p><code>.icon-person-outline</code> or <code>.icon-uniE606</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE607"></span></h2>
            <p><code>.icon-uniE607</code> or <code>.icon-sparen</code> or <code>.icon-5074</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE608"></span></h2>
            <p><code>.icon-uniE608</code> or <code>.icon-actueel</code> or <code>.icon-beleggen</code> or <code>.icon-4494</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE609"></span></h2>
            <p><code>.icon-uniE609</code> or <code>.icon-verzekeren</code> or <code>.icon-inkomensverzekeringen</code> or <code>.icon-4495</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE610"></span></h2>
            <p><code>.icon-uniE610</code> or <code>.icon-inloggen</code> or <code>.icon-4610</code> or <code>.icon-5694</code> or <code>.icon-blog</code> or <code>.icon-pencil</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE611"></span></h2>
            <p><code>.icon-uniE611</code> or <code>.icon-uitgelicht</code> or <code>.icon-4547</code> or <code>.icon-5657</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-uniE61B"></span></h2>
            <p><code>.icon-uniE61B</code> or <code>.icon-schadeverzekeringen</code> or <code>.icon-broken-window</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE629"></span></h2>
            <p><code>.icon-uniE629</code> or <code>.icon-4546</code> or <code>.icon-mijn-producten</code> or <code>.icon-themas</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE60B"></span></h2>
            <p><code>.icon-uniE60B</code> or <code>.icon-hypotheek</code> or <code>.icon-4496</code> or <code>.icon-4537</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE60A"></span></h2>
            <p><code>.icon-uniE60A</code> or <code>.icon-pensioen</code> or <code>.icon-pensioen-en-lijfrente</code> or <code>.icon-4497</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-circled-x"></span></h2>
            <p><code>.icon-circled-x</code> or <code>.icon-uniE60D</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE60F"></span></h2>
            <p><code>.icon-uniE60F</code> or <code>.icon-vermogensbeheer</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-tools"></span></h2>
            <p><code>.icon-tools</code> or <code>.icon-uniE62B</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE636"></span></h2>
            <p><code>.icon-uniE636</code> or <code>.icon-user-link</code> or <code>.icon-uniE646</code> or <code>.icon-6861</code> or <code>.icon-mijn-aegon</code> or <code>.icon-person</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE647"></span></h2>
            <p><code>.icon-uniE647</code> or <code>.icon-home</code> or <code>.icon-5653</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE648"></span></h2>
            <p><code>.icon-uniE648</code> or <code>.icon-lock</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE62C"></span></h2>
            <p><code>.icon-uniE62C</code> or <code>.icon-6863</code> or <code>.icon-mijn-gegevens</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-pdf"></span></h2>
            <p><code>.icon-pdf</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-call"></span></h2>
            <p><code>.icon-call</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-chat"></span></h2>
            <p><code>.icon-chat</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-comment"></span></h2>
            <p><code>.icon-comment</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-search"></span></h2>
            <p><code>.icon-search</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-info"></span></h2>
            <p><code>.icon-info</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-uniE602"></span></h2>
            <p><code>.icon-uniE602</code> or <code>.icon-mijn-betalingen</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-error"></span></h2>
            <p><code>.icon-error</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-advisor"></span></h2>
            <p><code>.icon-advisor</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-calculator"></span></h2>
            <p><code>.icon-calculator</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-check"></span></h2>
            <p><code>.icon-check</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-radio"></span></h2>
            <p><code>.icon-radio</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-thumb-down"></span></h2>
            <p><code>.icon-fist-full</code> or <code>.icon-thumb-down</code> or <code>.icon-uniE60E</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-plus"></span></h2>
            <p><code>.icon-plus</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-plus-regular"></span></h2>
            <p><code>.icon-plus-regular</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-plus-light"></span></h2>
            <p><code>.icon-plus-light</code> or <code>.icon-unie904</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-minus"></span></h2>
            <p><code>.icon-minus</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-arrow-location"></span></h2>
            <p><code>.icon-arrow-location</code> or <code>.icon-uniE601</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-tip"></span></h2>
            <p><code>.icon-tip</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-offreren"></span></h2>
            <p><code>.icon-offreren</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-chart"></span></h2>
            <p><code>.icon-chart</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-inzien"></span></h2>
            <p><code>.icon-inzien</code> or <code>.icon-unie906</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-muteren"></span></h2>
            <p><code>.icon-muteren</code> or <code>.icon-unie905</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-zakelijk"></span></h2>
            <p><code>.icon-zakelijk</code> or <code>.icon-unie908</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-contract-details"></span></h2>
            <p><code>.icon-contract-details</code> or <code>.icon-unie907</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-help"></span></h2>
            <p><code>.icon-help</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-whatsapp"></span></h2>
            <p><code>.icon-whatsapp</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-hammer"></span></h2>
            <p><code>.icon-hammer</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-suitcase"></span></h2>
            <p><code>.icon-suitcase</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-desktop-phone"></span></h2>
            <p><code>.icon-desktop-phone</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-house"></span></h2>
            <p><code>.icon-house</code></p>
        </div>
    </div>
</div>
<div class="container_12">
    <div class="row-fluid">
        <div class="span2">
            <h2><span class="icon-scale"></span></h2>
            <p><code>.icon-scale</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-paw"></span></h2>
            <p><code>.icon-paw</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-chair"></span></h2>
            <p><code>.icon-chair</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-dotted-car"></span></h2>
            <p><code>.icon-dotted-car</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-repair-car"></span></h2>
            <p><code>.icon-repair-car</code></p>
        </div>
        <div class="span2">
            <h2><span class="icon-car-crash"></span></h2>
            <p><code>.icon-car-crash</code></p>
        </div>
    </div>
</div>
