<h2>Direct regelen</h2>

<ul class="link-block direct-regelen">
    <li><a href="">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span class="text">Schade melden</span>
    </a></li>
    <li><a href="">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span class="text">Mijn sparen bekijken</span>
    </a></li>
    <li><a href="">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span class="text">Mijn Aegon app downloaden</span>
    </a></li>
    <li><a href="">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span class="text">Renteoverzicht bekijken</span>
    </a></li>
</ul>