<h2>Direct regelen</h2>

<div class="service-link-block direct-regelen">
    <div class="service-link-wrapper">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span><a class="text" href="">Schade melden</a></span>
    </div>
    <div class="service-link-wrapper">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span><a class="text" href="">Schade melden</a></span>
    </div>
    <div class="service-link-wrapper">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span><a class="text" href="">Schade melden</a></span>
    </div>
    <div class="service-link-wrapper">
        <span class="image-wrapper"><img src="images/ui/2x/icon-calculator@2x.png" alt="title"></span>
        <span><a class="text" href="">Schade melden</a></span>
    </div>
</div>