<ul class="bullet">
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li>Vestibulum auctor dapibus neque.</li>
</ul>

<ul class="check">
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li>Vestibulum auctor dapibus neque.</li>
</ul>
<ul class="green-check">
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li>Vestibulum auctor dapibus neque.</li>
</ul>
<ul class="arrow">
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li>Vestibulum auctor dapibus neque.</li>
</ul>


<!-- Backwards compatible types start here: (Don't know if they are used)-->
<ul class="links">
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li>Vestibulum auctor dapibus neque.</li>
</ul>

<ul class="ul-arrows">
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
	<li>Vestibulum auctor dapibus neque.</li>
</ul>

<ul>
	<li class="check">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li class="green-check">Aliquam tincidunt mauris eu risus.</li>
	<li class="arrow">Vestibulum auctor dapibus neque.</li>
</ul>

<ul>
	<li class="arrow">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li class="arrow">Aliquam tincidunt mauris eu risus.</li>
	<li class="arrow">Vestibulum auctor dapibus neque.</li>
</ul>
<!-- Backwards compatible types end here -->