<div class="messages messages--warning visible">
  <span class="icon"></span>
  <div class="header">
    Veilig bankieren - Phishing mails.
  </div>
  <div class="content">
    Er is een probleem opgetreden tijdens het laden van de pagina (Fout BS107.2 - T). Onze excuses voor het ongemak. Heeft u een vraag, neemt u dan contact op met onze afdeling Klantenservice: 088 - 344 1234.
  </div>
</div>

<div class="messages messages--status visible">
  <span class="icon"></span>
  <div class="header">
    Veilig bankieren - Phishing mails.
  </div>
  <div class="content">
    Er is een probleem opgetreden tijdens het laden van de pagina (Fout BS107.2 - T). Onze excuses voor het ongemak. Heeft u een vraag, neemt u dan contact op met onze afdeling Klantenservice: 088 - 344 1234.
  </div>
</div>

<div class="messages messages--error visible">
  <span class="icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
  <div class="header">
    Veilig bankieren - Phishing mails.
  </div>
  <div class="content">
    Er is een probleem opgetreden tijdens het laden van de pagina (Fout BS107.2 - T). Onze excuses voor het ongemak. Heeft u een vraag, neemt u dan contact op met onze afdeling Klantenservice: 088 - 344 1234.
  </div>
</div>

<div class="messages messages--functional visible">
  <div class="header">
    Wat is mijn spaardoel?
  </div>
  <div class="content">
    Sparen gaat makkelijker als u weet waar u het voor doet. Maak daarom een spaardoel aan zie hoeveel u maandelijks opzij moet leggen om uw doel te bereiken.
  </div>
  <button class="button arrow">Spaardoel aanmaken</button>
</div>

<div class="messages messages--mobileStatus">
  <div class="header">
    Header
  </div>
  <div class="content">
    This is the bodytext of a warning message at the top of a mobile page. Feel free to leave the button out, when not required.
  </div>
  <button class="button arrow">Spaardoel aanmaken</button>
</div>
