<div class="messages messages--warning visible">
  <span class="icon"></span>
  <div class="header">
    Veilig bankieren - Phishing mails.
  </div>
  <div class="content">
    Er is een probleem opgetreden tijdens het laden van de pagina (Fout BS107.2 - T). Onze excuses voor het ongemak. Heeft u een vraag, neemt u dan contact op met onze afdeling Klantenservice: 088 - 344 1234.
  </div>
</div>

<div class="messages messages--attention visible">
  <span class="icon"></span>
  <div class="header">
    Mijn gegevens aanvullen.
  </div>
  <div class="content">
    Om u zo goed mogelijk te informeren dient u uw gegevens aan te vullen.
  </div>
  <button class="button orange arrow">Mijn gegevens aanvullen</button>
</div>

<div class="messages messages--alert visible">
  <span class="icon"><span class="pathA"></span><span class="pathB"></span><span class="pathC"></span></span>
  <div class="header">
    Hulp bij het inloggen op en toegang tot Mijn Aegon.
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<div class="messages messages--status visible">
  <span class="icon"></span>
  <div class="header">
    Veilig bankieren - Phishing mails.
  </div>
  <div class="content">
    Er is een probleem opgetreden tijdens het laden van de pagina (Fout BS107.2 - T). Onze excuses voor het ongemak. Heeft u een vraag, neemt u dan contact op met onze afdeling Klantenservice: 088 - 344 1234.
  </div>
</div>

<div class="messages messages--error visible">
  <span class="icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
  <div class="header">
    Veilig bankieren - Phishing mails.
  </div>
  <div class="content">
    Er is een probleem opgetreden tijdens het laden van de pagina (Fout BS107.2 - T). Onze excuses voor het ongemak. Heeft u een vraag, neemt u dan contact op met onze afdeling Klantenservice: 088 - 344 1234.
  </div>
</div>

<div class="messages messages--functional visible">
  <div class="header">
    Wat is mijn spaardoel?
  </div>
  <div class="content">
    Sparen gaat makkelijker als u weet waar u het voor doet. Maak daarom een spaardoel aan zie hoeveel u maandelijks opzij moet leggen om uw doel te bereiken.
  </div>
  <button class="button arrow">Spaardoel aanmaken</button>
</div>

<div class="messages messages--googleStatus">
<span class="icon"></span>
<img class="googleStatus-img" src="https://www.aegon.nl/sites/aegonnl/public_files/styles/aegon-e-com-desktop/public/afbeeldingen/Icons/beachball.png?itok=H3jgPWJx" title="placeholder-image. Replace with correct image"></img>
  
  <div class="content">
  <div class="header">
    MijnAegon
  </div>
  <p>
    Aegon Nederland N.V.<br>
    Download gratis in Google Play
    </p>
  </div>
  <button class="button orange moveright">Bekijk</button>
</div>
