<h5>Urgente informatie</h5>
<div class="messages messages--warning visible">
  <span class="icon"></span>
  <div class="header">
    Lorem ipsum dolor sit amet
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>

<h5>Aansporing profiel Mijn Aegon</h5>
<div class="messages messages--attention visible">
<span class="icon"></span>
  <div class="wrap">
      <div class="header">
        Lorem ipsum dolor sit amet
      </div>
      <div class="content">
        Om u zo goed mogelijk te informeren dient u uw gegevens aan te vullen.
      </div>
  </div>
  <button class="button orange arrow">Mijn gegevens aanvullen</button>
</div>

<h5>Foutmelding</h5>
<div class="messages messages--alert visible">
  <span class="icon"><span class="pathA"></span><span class="pathB"></span><span class="pathC"></span></span>
  <div class="header">
    Lorem ipsum dolor sit amet
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<h5>Bevestiging</h5>
<div class="messages messages--status visible">
  <span class="icon"></span>
  <div class="header">
    Lorem ipsum dolor sit amet
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>

<h5>Urgente attentie / storing</h5>
<div class="messages messages--error visible">
  <span class="icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
  <div class="header">
    Lorem ipsum dolor sit amet
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>

<h5>Call to action</h5>
<div class="messages messages--functional visible">
  <div class="header">
    orem ipsum dolor
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <button class="button arrow">Spaardoel aanmaken</button>
</div>

<h5>Mijn Aegon App banner</h5>
<div class="messages messages--googleStatus">
<span class="icon"></span>
<img class="googleStatus-img" src="https://www.aegon.nl/sites/aegonnl/public_files/styles/aegon-e-com-desktop/public/afbeeldingen/Icons/beachball.png?itok=H3jgPWJx" title="placeholder-image. Replace with correct image"></img>
  
  <div class="content">
  <div class="header">
    MijnAegon
  </div>
  <p>
    Aegon Nederland N.V.<br>
    Download gratis in Google Play
    </p>
  </div>
  <button class="button orange moveright">Bekijk</button>
</div>
