<div class="quickquote lijfrente" data-interests="1.8,1.9,2,2.1,2.1,2.2,2.25,2.3,2.4,2.5,2.6,2.65,2.7,2.8,2.9,2.9,2.9,2.9,2.9,2.9,3,3.2,3.2,3.2,3.2,3.2">
  <div class="triangle"></div>
  <div class="calculation">
    <h3>Bereken wat uw lijfrente uitkeert per maand</h3>
    <div class="amount slider">
      <div class="input-header">
        <label for="amount-input">Hoeveel geld legt u in ?</label>
        <div class="input-container">
          <input type="text" id="amount-input">
        </div>
        <span class="help" title="Dit is de help tekst voor in de tooltip"></span>
      </div>
      <div class="slider-container">
        <div id="amount-slider"></div>
      </div>
    </div>
    <div class="time slider">
      <div class="input-header">
        <label for="time-input">Voor hoelang wilt u de lijfrente vastzetten?</label>
        <div class="input-container">
          <input type="text" id="time-input">
          <span class="year">jaar</span>
        </div>
        <span class="help" title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
      </div>
      <div class="slider-container">
        <div id="time-slider"></div>
      </div>
    </div>
  </div>
  <div class="result">
    <div class="payment-result">
      <div class="title">Uitkering per maand</div>
      <div id="payment-calculated" class="calculated"> &euro; 0</div>
    </div>
    <div class="footer-result">
      <div class="disclaimer">Indicatie, geen exacte berekening</div>
      <span class="help" title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
      <p><button class="button orange-gradient icon-right arrow">Direct regelen</button></p>
    </div>
  </div>
</div>
