<div class="quickquote lijfrente sparen"
     data-interests="1.8,1.9,2,2.1,2.1,2.2,2.25,2.3,2.4,2.5,2.6,2.65,2.7,2.8,2.9,2.9,2.9,2.9,2.9,2.9,3,3.2,3.2,3.2,3.2,3.2">
    <div class="triangle"></div>
    <div class="calculation">
        <h3>Bereken wat uw lijfrente sparen per maand</h3>

        <div class="one-off slider">
            <div class="input-header">
                <label for="one-off-input">Éenmalige inleg</label>

                <div class="input-container">
                    <input type="text" id="one-off-input">
                </div>
                <span class="help" title="Dit is de help tekst voor in de tooltip"></span>
            </div>
            <div class="slider-container">
                <div id="one-off-slider" class="noUi-extended"></div>
                <span id="one-off-error"></span>
            </div>
        </div>

        <div class="periodic slider">
            <div class="input-header">
                <label for="periodic-input">Periodieke inleg</label>

                <div class="input-container">
                    <select name="" id="periodic-selector" tabindex="-1" class="blurred">
                        <option value="">Maand</option>
                        <option>Kwartaal</option>
                        <option>Half jaar</option>
                        <option>Jaar</option>
                    </select>
                    <input type="text" id="periodic-input" value="6">
                </div>
                <span class="help"
                      title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
            </div>
            <div class="slider-container">
                <div id="periodic-slider" class="noUi-extended"></div>
                <span id="periodic-error"></span>
            </div>
        </div>

        <div class="duration slider">
            <div class="input-header">
                <label for="duration-input">Looptijd</label>

                <div class="input-container">
                    <input type="text" id="duration-input" value="6">
                </div>
                <span class="help"
                      title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
            </div>
            <div class="slider-container">
                <div id="duration-slider" class="noUi-extended"></div>
                <span id="duration-error"></span>
            </div>
        </div>
    </div>

    <div class="one-off-deposit-check calculation">
        <div class="input-header">
            <label class="checkbox">
                <input type="checkbox" name="checkbox1" value="value1">
                <span class="checkbox"></span><span>Ik wil een deel van mijn éénmalige inleg in een deposito zetten</span>
            </label>
            <span class="help"
                  title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
        </div>
        <div class="one-off-deposit" id="toggle-container">
            <div class="input-header">
                <label for="amount-one-off-input">Inleg deposito</label>

                <div class="input-container">
                    <input type="text" id="amount-one-off-input">
                </div>
                <span class="help" title="Dit is de help tekst voor in de tooltip"></span>
            </div>

            <div class="slider-container">
            <div id="amount-one-off-slider" class="noUi-extended"></div>
            <span id="amount-one-off-error"></span>
          </div>

            <div class="input-header">
                <label for="deposit-duration-input">Looptijd deposito</label>

                <div class="input-container">
                    <input type="text" id="deposit-duration-input" value="10">
                </div>
                <span class="help"
                      title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
            </div>

            <div class="slider-container">
                <div id="deposit-duration-slider" class="noUi-extended"></div>
                <span id="deposit-duration-error"></span>
            </div>
        </div>
    </div>

    <div class="result">
        <div class="payment-result">
            <div class="result1">
                <div class="title">Opgebouwd pensioen*</div>
                <div id="pension-calculated" class="calculated"> &euro; 95.500,-</div>
            </div>
            <div class="result2">
                <div class="title">Opgebouwde rente*</div>
                <div id="interest-calculated" class="calculated"> &euro; 5.850,-</div>
            </div>
        </div>

        <div class="footer-result">
            <div class="interest">Rente: <span id="interest-amount">1,2</span>%</div>
            <div class="interest">Rente: <span id="interest-amount-deposito">1,2</span>%</div>
        </div>

        <p class="result-button">
            <button class="button orange-gradient icon-right arrow">Direct regelen</button>
        </p>

    </div>
</div>
<div class="disclaimer">*Indicatie, geen exacte berekening</div>
