<aegon-quickquote-aov><div class="loading">Bezig met laden...</div></aegon-quickquote-aov>
<textarea id="XXXquickQuoteAovTemplate" style="display: none;">
    Put Angular 2 template code here and remove XXX from id above to let component use this template. Example code can
    be found in the component TypeScript code.
</textarea>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        System.import('components/quickquote-aov/main').then(null, console.error.bind(console));
    });
</script>
