<aegon-quickquote-boeterente><div class="loading">Bezig met laden...</div></aegon-quickquote-boeterente>
<textarea id="XXXquickQuoteAovTemplate" style="display: none;">
    Put Angular 2 template code here and remove XXX from id above to let component use this template. Example code can
    be found in the component TypeScript code.
</textarea>
<script src="scripts/angular2core.js"></script>
<script src="scripts/aegon-angular2.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        //System.import('components/quickquote-/main').then(null, console.error.bind(console));
    });
</script>
