<div class="quickquote lijfrente">
    <div class="calculation">
      <h3>Bereken wat uw lijfrente uitkeert per maand</h3>
      <div class="ammount slider">
        <label for="amount-input">Hoeveel geld legt u in ?</label>
        <input type="text" id="ammount-input">
        <span class="help" title="Dit is de help tekst voor in de tooltip"></span>
        <div class="slider-container">
          <div id="ammount-slider"></div>
        </div>
      </div>
      <div class="time slider">
        <label for="time-input">Voor hoelang wilt u de lijfrente vastzetten?</label>
        <input type="text" id="time-input">
        <div id="time-slider"></div>
      </div>
    </div>
    <div class="result">
    </div>
</div>  