<div class="quickquote lijfrente">
    <div class="calculation">
      <h3>Bereken wat uw lijfrente uitkeert per maand</h3>
      <div class="ammount slider">
        <div class="input-header">
          <label for="amount-input">Hoeveel geld legt u in ?</label>
          <div class="input-container">
            <input type="text" id="ammount-input">
          </div>
          <span class="help" title="Dit is de help tekst voor in de tooltip"></span>
        </div>
        <div class="slider-container">
          <div id="ammount-slider"></div>
        </div>
      </div>
      <div class="time slider">
        <div class="input-header">
          <label for="time-input">Voor hoelang wilt u de lijfrente vastzetten?</label>
          <div class="input-container">
            <input type="text" id="time-input">
            <span class="year">jaar</span>
          </div>
          <span class="help" title="Ook de 2e tooltip heeft echt een hele interessante doch iets langer tekst."></span>
        </div>
        <div class="slider-container">
          <div id="time-slider"></div>
        </div>
      </div>
    </div>
</div>  