<div class="situation-element">
    <h3 class="situation-header">Ik wil voor het eerst beleggen</h3>
    <div class="situation-text">
      Dit is tekst waar ook een <a class="situation-link" href="#">link in kan zitten die veel langer is dan normaal</a>
      Dit is tekst waar ook een <a class="situation-link" href="#">link in kan zitten</a>
    </div>
    <div class="situation-text-mobile"></div>
</div>
<div class="situation-element">
    <h3 class="situation-header">Ik wil voor het eerst beleggen</h3>
    <div class="situation-text">
      Dit is tekst waar ook een <a class="situation-link" href="#">link in kan zitten</a>
      Dit is tekst waar ook een <a class="situation-link" href="#">link in kan zitten</a>
    </div>
    <div class="situation-text-mobile"></div>
</div>