<!-- Using jquery Datatables plugin (www.datatables.net)  -->
<!--	<div class="doc-search-wrap">
		<span class="numberdocuments">31 documenten</span>
		<input class="search" type="text" placeholder="Zoeken" />
	</div>
	<div class="number-search-results">
	Er zijn <span class="bold">3 resultaten</span> gevonden voor "SEARCHTERM"
</div> -->

<h2 class="inline-h2 icon-uniE607">Sparen</h2>
<br>
	    <table id="sortabletable" class="display responsive stripe no-wrap sortabletable">
	    	<thead>
		    	<tr>
		    		<th class="all">Omschrijving</th>
		    		<th class="desktop, tablet-l, tablet-p">Rekeningnummer</th>
		    		<th class="desktop, tablet-l, tablet-p">Datum</th>
		    		<th class="desktop, tablet-l, tablet-p"></th>
		    	</tr>
	    	</thead>
	    	<tbody>
		    	<tr>	
		    		<td class="doctitle">Applepie</td>
		    		<td>NL04 AEGO 0762 6688 06</td>
		    		<td>12-01-2011</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td class="doctitle">Black beans</td>
		    		<td>NL03 AEGO 0762 6688 06</td>
		    		<td>02-02-2012</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td class="doctitle">Crispy bacon</td>
		    		<td>NL02 AEGO 0762 6688 06</td>
		    		<td>03-02-2014</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td class="doctitle">Deviled Eggs</td>
		    		<td>NL01 AEGO 0762 6688 06</td>
		    		<td>01-04-2015</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td class="doctitle">Eggplant salad</td>
		    		<td>NL05 AEGO 0762 6688 06</td>
		    		<td>31-04-2015</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td class="doctitle">Fruitcake</td>
		    		<td>NL12 AEGO 0762 6688 06</td>
		    		<td>13-11-2015</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td class="doctitle">Garlic Prawns</td>
		    		<td>NL33 AEGO 0762 6688 06</td>
		    		<td>19-09-1999</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td class="doctitle">Ham and Vegatable Cobbler</td>
		    		<td>NL99 AEGO 0762 6688 06</td>
		    		<td>15-03-1997</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
	    	</tbody>
	    </table>
	    <div class="docs-show-all">
	    </div>
