<!-- Using jquery Datatables plugin (www.datatables.net)  -->
<!--	<div class="doc-search-wrap">
		<span class="numberdocuments">31 documenten</span>
		<input class="search" type="text" placeholder="Zoeken" />
	</div>
	<div class="number-search-results">
	Er zijn <span class="bold">3 resultaten</span> gevonden voor "SEARCHTERM"
</div> -->

    <table class="display responsive stripe no-wrap tableDemo">
    	<thead>
	    	<tr>
	    		<th class="all">Omschrijving</th>
	    		<th class="desktop, tablet-l, tablet-p">Rekeningnummer</th>
	    		<th class="desktop, tablet-l, tablet-p">Datum</th>
	    		<th class="desktop, tablet-l, tablet-p narrow-td"></th>
	    	</tr>
    	</thead>
    	<tbody>
	    	<tr>
	    		<td class="doctitle">Applepie</td>
	    		<td>NL04 AEGO 0762 6688 06</td>
	    		<td class="date-nl">12-01-2011</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
	    	<tr>
	    		<td class="doctitle">Black beans</td>
	    		<td>NL03 AEGO 0762 6688 06</td>
	    		<td class="date-nl">30-04-2012</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
	    	<tr>
	    		<td class="doctitle">Crispy bacon</td>
	    		<td>NL02 AEGO 0762 6688 06</td>
	    		<td class="date-nl">03-02-2014</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
	    	<tr>
	    		<td class="doctitle">Deviled Eggs</td>
	    		<td>NL01 AEGO 0762 6688 06</td>
	    		<td class="date-nl">01-04-2015</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
	    	<tr>
	    		<td class="doctitle">Eggplant salad</td>
	    		<td>NL05 AEGO 0762 6688 06</td>
	    		<td class="date-nl">11-04-2015</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
	    	<tr>
	    		<td class="doctitle">Fruitcake</td>
	    		<td>NL12 AEGO 0762 6688 06</td>
	    		<td class="date-nl">09-11-2015</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
	    	<tr>
	    		<td class="doctitle">Garlic Prawns</td>
	    		<td>NL33 AEGO 0762 6688 06</td>
	    		<td class="date-nl">08-09-2001</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
	    	<tr>
	    		<td class="doctitle">Ham and Vegatable Cobbler</td>
	    		<td>NL99 AEGO 0762 6688 06</td>
	    		<td class="date-nl">05-03-2000</td>
	    		<td class="narrow-td"><a href="#" class="icon icon-pdf"></a></td>
	    	</tr>
    	</tbody>
    </table>

    <p>General purpose simple table:</p>

    <table class="resp_cust_tables">
    	<thead>
	    	<tr>
	    		<th class="desktop tablet-l tablet-p mobile-l mobile-p">Omschrijving</th>
	    		<th class="desktop tablet-l tablet-p mobile-l">Rekeningnummer</th>
	    		<th class="desktop tablet-l tablet-p">3</th>
	    		<th class="desktop tablet-l">4</th>
	    		<th class="desktop">5</th>
	    		<th class="none">6</th>
	    	</tr>
    	</thead>
    	<tbody>
	    	<tr>
	    		<td>Applepie</td>
	    		<td>NL04 AEGO 0762 6688 06</td>
	    		<td>12-01-2011</td>
	    		<td>4</td>
	    		<td>5</td>
	    		<td>6</td>
	    	</tr>
	    	<tr>
	    		<td>Black beans</td>
	    		<td>NL03 AEGO 0762 6688 06</td>
	    		<td>30-04-2012</td>
	    		<td>4</td>
	    		<td>5</td>
	    		<td>6</td>
	    	</tr>

    	</tbody>
    </table>
