<!-- Using jquery Datatables plugin (www.datatables.net)  -->
<!--	<div class="doc-search-wrap">
		<span class="numberdocuments">31 documenten</span>
		<input class="search" type="text" placeholder="Zoeken" />
	</div>
	<div class="number-search-results">
	Er zijn <span class="bold">3 resultaten</span> gevonden voor "SEARCHTERM"
</div> -->

<h2 class="inline-h2 icon-uniE607">Sparen</h2>
<br>
	    <table id="sortabletable" class="display responsive stripe no-wrap sortabletable">
	    	<thead>
		    	<tr>
		    		<th class="all"></th>
		    		<th class="all">Omschrijving</th>
		    		<th class="desktop">Rekeningnummer</th>
		    		<th class="desktop">Datum</th>
		    	</tr>
	    	</thead>
	    	<tbody>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Applepie</a></td>
		    		<td>NL04 AEGO 0762 6688 06</td>
		    		<td>12-01-2011</td>
		    	</tr>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Black beans</a></td>
		    		<td>NL03 AEGO 0762 6688 06</td>
		    		<td>2-02-2012</td>
		    	</tr>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Crispy bacon</a></td>
		    		<td>NL02 AEGO 0762 6688 06</td>
		    		<td>3-02-2014</td>
		    	</tr>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Deviled Eggs</a></td>
		    		<td>NL01 AEGO 0762 6688 06</td>
		    		<td>1-04-2015</td>
		    	</tr>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Eggplant salad</a></td>
		    		<td>NL05 AEGO 0762 6688 06</td>
		    		<td>31-04-2015</td>
		    	</tr>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Fruitcake</a></td>
		    		<td>NL12 AEGO 0762 6688 06</td>
		    		<td>13-11-2015</td>
		    	</tr>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Garlic Prawns</a></td>
		    		<td>NL33 AEGO 0762 6688 06</td>
		    		<td>19-09-1999</td>
		    	</tr>
		    	<tr>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    		<td class="doctitle"><a href="#">Ham and Vegatable Cobbler</a></td>
		    		<td>NL99 AEGO 0762 6688 06</td>
		    		<td>15-03-1997</td>
		    	</tr>
	    	</tbody>
	    </table>
	    <div class="docs-show-all">
	    </div>
