	    <table class="alt">
	    	<thead>
		    	<tr>
		    		<th>Omschrijving</th>
		    		<th>Rekeningnummer</th>
		    		<th>Datum</th>
		    		<th class="narrow-td"> </th>
		    	</tr>
	    	</thead>
	    	<tbody>
		    	<tr>
		    		<td><a href="#">Aegon Sparen</a></td>
		    		<td>NL79 AEGO 0762 6688 06</td>
		    		<td>5-04-2013</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td><a href="#">Aegon Sparen</a></td>
		    		<td>NL79 AEGO 0762 6688 06</td>
		    		<td>5-04-2013</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td><a href="#">Aegon Sparen</a></td>
		    		<td>NL79 AEGO 0762 6688 06</td>
		    		<td>5-04-2013</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
		    	<tr>
		    		<td><a href="#">Aegon Sparen</a></td>
		    		<td>NL79 AEGO 0762 6688 06</td>
		    		<td>5-04-2013</td>
		    		<td class="narrow-td"><a href="#" class="icon-pdf"></a></td>
		    	</tr>
	    	</tbody>
	    </table>